/* 
===============================================================================
HOME CSS. KVARTZ WEBSITE since 21.05.2026
===============================================================================
*/

/* ------------------------------------------------------------------------------- */ 
/* HERO */
/* Video hero in global.css */ 
/* ------------------------------------------------------------------------------- */ 

/* INTRO */

.home-intro {
  width: 100%;
  background-color: var(--OFFWHITE);
  padding-top: calc(var(--menu-based-spacing) * 1.33);
  padding-bottom: calc(var(--menu-based-spacing) * 1.66);
  padding-left: var(--global-spacing-lr);
  padding-right: var(--global-spacing-lr);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--scale-96);
}

.home-intro .supertitle {
  font-size: var(--font-20);
  line-height: var(--font-20-lh);
  letter-spacing: var(--font-20-ls-ac);
}

.home-intro-content {
  text-align: center;
  width: 100%;
}

.home-intro-heading {
  font-family: var(--font-sec);
  font-size: var(--font-32);
  line-height: var(--font-32-lh);
  letter-spacing: var(--font-32-ls);
  color: var(--COFFEE);
  margin-bottom: var(--scale-56);
}

.home-intro-description {
  display: none;
  font-family: var(--font-pri);
  font-size: var(--font-16);
  line-height: var(--font-16-lh);
  letter-spacing: var(--font-16-ls);
  color: var(--GREY);
  text-decoration: none;
}

.mobile-only {
  display: none;
}

.home-round-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-button {
  width: var(--scale-56);
}

/* ===== Intro Media Queries ===== */

@media only screen and (min-width: 4096px) {
  .home-intro {
    padding-top: calc(var(--menu-based-spacing) * 1.75);
    padding-bottom: calc(var(--menu-based-spacing) * 1.8);
  }
  .home-intro-heading {
    font-size: var(--font-72);
    line-height: var(--font-72-lh);
    letter-spacing: var(--font-72-ls);
    margin-bottom: var(--scale-96);
  }
  .home-intro .supertitle {
    font-size: var(--font-32);
    line-height: var(--font-32-lh);
    letter-spacing: var(--font-32-ls-ac);
    margin-bottom: var(--scale-24);
  }
}

@media only screen and (max-width: 4096px) {
  .home-intro {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  .home-intro-heading {
    font-size: var(--font-48);
    line-height: var(--font-48-lh);
    letter-spacing: var(--font-48-ls);
    margin-bottom: var(--scale-72);
  }
  .home-intro .supertitle {
    font-size: var(--font-32);
    line-height: var(--font-32-lh);
    letter-spacing: var(--font-32-ls-ac);
    margin-bottom: var(--scale-24);
  }
}

@media only screen and (max-width: 2560px) {
  .home-intro {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  .home-intro-heading {
    font-size: var(--font-40);
    line-height: var(--font-40-lh);
    letter-spacing: var(--font-40-ls);
    margin-bottom: var(--scale-72);
  }
  .home-intro .supertitle {
    font-size: var(--font-24);
    line-height: var(--font-24-lh);
    letter-spacing: var(--font-24-ls-ac);
    margin-bottom: var(--scale-24);
  }
}

@media only screen and (max-width: 1920px) {
  .home-intro {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  .home-intro-heading {
    font-size: var(--font-32);
    line-height: var(--font-32-lh);
    letter-spacing: var(--font-32-ls);
    margin-bottom: 5vh;
  }
  .home-intro .supertitle {
    font-size: var(--font-24);
    line-height: var(--font-24-lh);
    letter-spacing: var(--font-24-ls-ac);
    margin-bottom: var(--scale-24);
  }
}

@media only screen and (max-width: 1600px) {
  .home-intro {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  .home-intro-heading {
    font-size: var(--font-32);
    line-height: var(--font-32-lh);
    letter-spacing: var(--font-32-ls);
    margin-bottom: 5vh;
  }
  .home-intro .supertitle {
    font-size: var(--font-20);
    line-height: var(--font-20-lh);
    letter-spacing: var(--font-20-ls-ac);
    margin-bottom: var(--scale-16);
  }
}

@media only screen and (max-width: 1280px) {
  .home-intro {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  .home-intro-heading {
    font-size: var(--font-24);
    line-height: var(--font-24-lh);
    letter-spacing: var(--font-24-ls);
    margin-bottom: 4vh;
  }
  .home-intro .supertitle {
    font-size: var(--font-16);
    line-height: var(--font-16-lh);
    letter-spacing: var(--font-16-ls-ac);
    margin-bottom: var(--scale-10);
  }
}

@media only screen and (max-width: 960px) {
  .home-intro {
    padding-top: calc(var(--global-spacing-lr) * 3.33);
    padding-bottom: calc(var(--global-spacing-lr) * 3.66);
  }
  .home-intro-heading {
    font-size: var(--font-24);
    line-height: var(--font-24-lh);
    letter-spacing: var(--font-24-ls);
    margin-bottom: 5vh;
  }
  .home-intro .supertitle {
    font-size: var(--font-14);
    line-height: var(--font-14-lh);
    letter-spacing: var(--font-14-ls-ac);
    margin-bottom: var(--scale-10);
  }
}

@media only screen and (max-width: 640px) {
  .home-intro {
    padding-top: calc(var(--global-spacing-lr) * 3.33);
    padding-bottom: calc(var(--global-spacing-lr) * 3.66);
  }
  .home-intro-heading {
    font-size: var(--font-20);
    line-height: var(--font-20-lh);
    letter-spacing: var(--font-20-ls);
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 480px) {
  .home-intro {
    padding-top: calc(var(--global-spacing-lr) * 3.33);
    padding-bottom: calc(var(--global-spacing-lr) * 3.66);
  }
  .home-intro-heading {
    font-size: var(--font-32);
    line-height: var(--font-32-lh);
    letter-spacing: var(--font-32-ls);
    margin-bottom: 5vh;
  }
  .mobile-only {
    display: inline;
  }
  .desktop-only {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .home-intro {
    padding-top: calc(var(--global-spacing-lr) * 3.33);
    padding-bottom: calc(var(--global-spacing-lr) * 3.66);
  }
  .home-intro-heading {
    font-size: var(--font-24);
    line-height: var(--font-24-lh);
    letter-spacing: var(--font-24-ls);
    margin-bottom: 5vh;
  }
  .mobile-only {
    display: inline;
  }
  .desktop-only {
    display: none;
  }
}
